*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Inter", serif;
  color: #2B283A;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  
}
/* Nav area */
.appNav,
.appFooter{
  background-color: #F55A5A;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  
}

.globe{
  height: 1.5rem;
  margin-right: 0.3rem;
}

/* card */
.cardsContainer{
  padding: 0.5rem 1.5rem;
}

.cardImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  place-items: center;
  padding-bottom: 0;
  border-bottom: #cececf solid 1px;
}



.cardImage{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.allDetails{
  padding: 0.9rem 0;
  padding-left: 0.7rem;
}

.placeDetails{
  display: flex;
  align-items: center;
  
}



.fa-location-dot{
  font-size: 1.2rem;
  color: #F55A5A;
}

.locationName{
  font-size: 1rem;
  /* letter-spacing: 0.1rem; */
  text-transform: uppercase;
  margin: 0 0.4rem;
}

.mapsLink{
  color: #918E9B;
  font-size: 1rem;
  font-family: inherit;
}

.title{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  
}

.date{
  font-weight: 800;
  margin-bottom: -.2rem;
}

.placeDecription{
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 0;
}

/* Footer area */
footer a{
  color: #FFFFFF;
}
.fa{
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-wdith:690px){
  .fa-location-dot{
    font-size: 1rem;
  }
  .locationName{
    font-size: 0.7rem;
    letter-spacing: 0;
  }

  .mapsLink{
    font-size: 1rem;
  }
}

@media (min-width:500px) {
  .card{
    grid-template-columns: repeat(2,auto);
  }
  .cardImage{
    margin-right:0.5rem;
  }
}
@media (min-width:800px) {
  .cardsContainer{
    display: grid;
    grid-template-columns: repeat(2,auto);
  }
  .date{
    margin-top: 0;
  }
  
}