*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Inter", serif;
  color: #2B283A;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  
}
/* Nav area */
.appNav,
.appFooter{
  background-color: #F55A5A;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  
}

.globe{
  height: 1.5rem;
  margin-right: 0.3rem;
}

/* card */
.cardContainer{

}

.cardImageContainer{
  
}

.card{
  border: 2px solid #2B283A;
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding: 1rem;
  
}


.cardImage{
  margin-right: 1rem;
  border-radius: 5px;
}

.allDetails{
  padding: 0.9rem 0;
  width: 50vw;
}

.placeDetails{
  display: flex;
  align-items:center;
  
}

.fa-location-dot{
  font-size: 1.5rem;
  color: #F55A5A;
}

.locationName{
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 0 0.4rem;
}

.mapsLink{
  color: #918E9B;
  font-size: 1.2rem;
  font-family: inherit;
}

.title{
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  
}

.date{
  font-weight: 800;
  margin-bottom: -.2rem;
}

.placeDecription{
  margin-top: 0.3rem;
  /* padding: 0.5rem; */
  line-height: 1.5;
}

/* Footer area */
footer a{
  color: #FFFFFF;
}
.fa{
  font-size: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

